 body {
     background-color: midnightblue;
 }

 h1 {
     color: honeydew;
     margin: 1em 14em;
     padding: 50px;
     text-align: center;
 }
 p {
     color: honeydew;
     margin: 1em 20em 1em;
     text-align: center;
 }

 img {
     margin: 1em 40em;
     padding: 10px;
 }